@model List<RoleModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["CmsTitle"] = "Kullanıcı Oluştur";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form action="/admin/user/add" method="post">
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="Email">Kullanıcı Adı</label>
                    <input class="form-control" name="Email" id="Email" type="text" placeholder="Kullanıcı Adı">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="Name">Adı</label>
                    <input class="form-control" name="Name" id="Name" type="text" placeholder="Adı">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="Surname">Soyadı</label>
                    <input class="form-control" name="Surname" id="Surname" type="text" placeholder="Soyadı">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="Password">Şifre</label>
                    <div class="input-group input-group-merge">
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Şifre giriniz..">
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <label for="RoleId">Kullanıcı Rolü</label>
                    <select name="RoleId" id="RoleId" class="form-control">
                        <option selected>Lütfen Seçim Yapınız !</option>
                        @foreach (RoleModel Roles in Model)
                        {
                            <option value="@Roles.Id">@Roles.RoleName</option>
                        }
                    </select>
                </div>
                <hr />
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="OfficeName">Ofis Adı</label>
                    <input class="form-control" name="OfficeName" id="OfficeName" type="text" placeholder="Ofis Adı">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="OfficeDomain">Ofis Domain</label>
                    <input class="form-control" name="OfficeDomain" id="OfficeDomain" type="text" placeholder="Ofis Domain">
                </div>
                <br />
                <button type="submit" class="btn btn-danger w-100">Kullanıcı Oluştur</button>
            </form>

        </div>
    </div>
</div>