@model JobsViewModel
@{ ViewData["Title"] = Model.jobTitle;
                ViewData["BreadcrumbTitle"] = Model.jobTitle;
                ViewData["PageDescription"] = Model.jobDescription;
                ViewData["PageKeywords"] = Model.jobKeywords; }


<div>
    <section class="tools">
        <div class="container">
            <div class="t-row">
                <div class="d-table-cell">
                    <a class="btn btn-primary" style="margin-top:25px; margin-bottom:25px; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" href="/" title="Geri">
                        <span style="line-height: 12px; font-size: 20px;">&#x2190;</span> Geri Git
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 style="text-align:center;">İş İlanı Hakkında</h2>
        <p>@Html.Raw(@Model.jobContent)</p>
    </div>

    <div class="row">
        <div class="col">
            <div class="text-center">
                <a href="/job/applicant/@Model.jobSlug" style="background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" class="btn btn-primary btn-lg active">Hemen Başvur</a>
            </div>
        </div>
    </div>
</div>