@{
    ViewData["Title"] = "Kariyer";
    ViewData["BreadcrumbTitle"] = "Kariyer";
    ViewData["BreadcrumbSubTitle"] = "Kodluyoruz ve dünyaya sunuyoruz! Bizimle birlikte bu dünyayı keşfetmek istersen başvurunu bekliyoruz. <br /> Hemen tanışalım ve sana Argeya'nın ayrıcalıklarından bahsedelim.";
}

<h2 style="text-align:center;">Açık Pozisyonlar</h2>
@await Component.InvokeAsync("JobsList")

<div class="text-center">
    <br />
    <hr />
    <p>
        Gelişimin ve eğlencenin tadını aynı anda çıkarmak mı? Neden olmasın?
        Kendi başarı hikayeni, aynı dili konuştuğun bir ekiple birlikte yazmak ister misin?
    </p>

    <a href="/job" class="btn btn-sm btn-danger" style="width:500px">CV'ni Gönder</a>
</div>