@{
    ViewData["Title"] = "Kariyer";
    ViewData["BreadcrumbTitle"] = "Kariyer";
    ViewData["BreadcrumbSubTitle"] = "Kodluyoruz ve dünyaya sunuyoruz! Bizimle birlikte bu dünyayı keşfetmek istersen başvurunu bekliyoruz. <br /> Hemen tanışalım ve sana Argeya'nın ayrıcalıklarından bahsedelim.";
}

<h2 style="text-align:center;">Açık Pozisyonlar</h2>
@await Component.InvokeAsync("JobsList")
