@model UsersModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Giriş Yap | CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    <link href="/panel/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/panel/assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/panel/assets/css/app-modern-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="loading authentication-bg" data-layout-config='{"darkMode":false}'>
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">

                        <!-- Logo -->
                        <div class="card-header pt-4 pb-4 text-center bg-primary">
                            <a href="index.html">
                                <span><img src="~/uploads/@ViewData["PanelLogo"]" alt="" height="60"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 fw-bold">Giriş Yap</h4>
                                <p class="text-muted mb-4">Panele giriş yapabilmek için kullanıcı adı ve şifre giriniz.</p>
                            </div>

                            <form action="/admin/login/index" method="post">

                                <div class="mb-3">
                                    <label for="emailaddress" class="form-label">Kullanıcı Adı</label>
                                    <input class="form-control" id="emailaddress" asp-for="email" required="" placeholder="Kullanıcı Adı">
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Şifre</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" asp-for="password" class="form-control" placeholder="Şifre">
                                        <div class="input-group-text" data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 mb-0 text-center">
                                    <button class="btn btn-primary" type="submit">Giriş Yap</button>
                                </div>

                            </form>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer footer-alt">
        2022 © Argeya
    </footer>

    <!-- bundle -->
    <script src="/panel/assets/js/vendor.min.js"></script>
    <script src="/panel/assets/js/app.min.js"></script>

</body>
</html>
