@model List<JobsViewModel>

@{
    ViewData["Title"] = "CV'ni Gönder";
    ViewData["BreadcrumbTitle"] = "CV'ni Gönder";
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["successMessage"]
    </div>
}
@if (TempData["dangerMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["dangerMessage"]
    </div>
}

<section class="tools">
    <div class="container">
        <div class="t-row">
            <div class="d-table-cell">
                <a class="btn btn-primary" style="margin-top:25px; margin-bottom:25px; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" href="/" title="Geri">
                    <span style="line-height: 12px; font-size: 20px;">&#x2190;</span> Geri Git
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="title text-center">
        <h1>Başvuru Formu</h1>
        <p>
            Gelişimin ve eğlencenin tadını aynı anda çıkarmak mı? Neden olmasın?
            <br> Kendi başarı hikayeni, aynı dili konuştuğun bir ekiple birlikte yazmak ister misin? 
        </p>
    </div>
    <div class="job-apply-form">
        <form action="/Job/Applicant" method="post" enctype="multipart/form-data">
            <input type="text" name="jobId" id="jobId" value="@Model[0].Id" hidden/>
            <div class="form-group" style="margin-bottom:10px;">
                <label for="Title"><b>Başvurduğunuz İlan:</b></label>
                <input type="text" name="Title" class="form-control" value="@Model[0].JobTitle" disabled>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="FullName"><b>Adınız ve Soydınız:</b></label>
                <input name="FullName" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Phone"><b>Telefon Numaranız:</b></label>
                <input name="Phone" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Email"><b>E-Mail Adresiniz:</b></label>
                <input type="email" name="Email" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label><b>Cinsiyetiniz</b></label>
                <select name="Gender" class="form-control" required>
                    <option value="">Lütfen Bir Seçim Yapınız!</option>
                    <option value="Belirtilmemiş">Belirtmek İstemiyorum</option>
                    <option value="Erkek">Erkek</option>
                    <option value="Kadın">Kadın</option>
                </select>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="University"><b>Okuduğunuz/Mezun Olduğunuz Okul:</b></label>
                <input name="University" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Faculty"><b>Okuduğunuz/Mezun Olduğunuz Bölüm:</b></label>
                <input name="Faculty" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Resume"><b>Ön Yazı:</b></label>
                <textarea name="Resume" class="form-control" required></textarea>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <img style="display: inline-block; width: 180px; height: 50px; " id="imgCaptcha" src="/argeya-captcha?@DateTime.Now.ToString("ddMMyyyyHHmmsss")" />
                <a class="btn btn-sm small gray" style="display: inline-block; padding: 8px; cursor: pointer; vertical-align: top; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"]; color: #fff !important; text-decoration: none;" onclick="var today = new Date(); document.getElementById('imgCaptcha').src = '/argeya-captcha?r=' + today; return false;">
                    <i class="fa fa-refresh" aria-hidden="true" style="font-size: 30px;"></i>
                </a>
                <input type="text" name="captcha" id="captcha" />
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label for="FormFile"><b>Özgeçmiş / CV Yükle (Sadece PDF uzantılı dosyalar kabul edilmektedir)</b></label>
                <input type="file" class="form-control-file" name="FormFile">
            </div>
            <button type="submit" class="btn btn-primary w-100" style="background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];">Başvur</button>
        </form>
    </div>
</div>