@model List<JobsViewModel>

@{
    ViewData["Title"] = "CV'ni Gönder";
    ViewData["BreadcrumbTitle"] = "CV'ni Gönder";
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["successMessage"]
    </div>
}
@if (TempData["dangerMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["dangerMessage"]
    </div>
}

<section class="tools">
    <div class="container">
        <div class="t-row">
            <div class="d-table-cell">
                <a class="btn btn-outline-danger" style="margin-top:25px; margin-bottom:25px;" href="/home" title="Geri">
                    <span style="line-height: 12px; font-size: 20px;">&#x2190;</span> Geri Git
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="title text-center">
        <h1>Başvuru Formu</h1>
        <p>Gelişimin ve eğlencenin tadını aynı anda çıkarmak mı? Neden olmasın?
            <br> Kendi başarı hikayeni, aynı dili konuştuğun bir ekiple birlikte yazmak ister misin?
        </p>
    </div>
  <div class="job-apply-form">
      <form action="/Job/Applicant" method="post" enctype="multipart/form-data">
          <div class="form-group" style="margin-bottom:10px;">
              <label name="fullName"><b>Adınız ve Soydınız:</b></label>
              <input name="fullName" class="form-control" required>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <label name="phone"><b>Telefon Numaranız:</b></label>
              <input name="phone" class="form-control" required>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <label name="email"><b>E-Mail Adresiniz:</b></label>
              <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <label><b>Cinsiyetiniz</b></label>
              <select name="gender" class="form-control" required>
                  <option value="">Lütfen Bir Seçim Yapınız!</option>
                  <option value="Belirtilmemiş">Belirtmek İstemiyorum</option>
                  <option value="Erkek">Erkek</option>
                  <option value="Kadın">Kadın</option>
              </select>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <label name="university"><b>Okuduğunuz/Mezun Olduğunuz Okul:</b></label>
              <input name="university" class="form-control" required>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <label name="faculty"><b>Okuduğunuz/Mezun Olduğunuz Bölüm:</b></label>
              <input name="faculty" class="form-control" required>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <label><b>Başvuracağınız İlan</b></label>
              <select name="jobId" class="form-control" required>
                  <option>Lütfen Bir Seçim Yapınız!</option>
                  @foreach (JobsViewModel jobs in Model)
                  {
      <option value="@jobs.id">@jobs.jobTitle</option>}
              </select>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <label name="resume"><b>Özgeçmiş:</b></label>
              <textarea name="resume" class="form-control" required></textarea>
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <img style="display: inline-block; width: 180px; height: 50px; " id="imgCaptcha" src="/argeya-captcha?@DateTime.Now.ToString("ddMMyyyyHHmmsss")" />
              <a class="btn btn-sm small gray" style="display: inline-block; padding: 8px; cursor: pointer; vertical-align: top; background-color: #dc3545; color: #fff !important; text-decoration: none;" onclick="var today = new Date(); document.getElementById('imgCaptcha').src = '/argeya-captcha?r=' + today; return false;">
                  <i class="fa fa-refresh" aria-hidden="true" style="font-size: 30px;"></i>
              </a>
              <input type="text" name="captcha" id="captcha" />
          </div>
          <div class="form-group" style="margin-bottom:10px;">
              <label for="formFile"><b>CV Yükle</b></label>
              <input type="file" class="form-control-file" name="formFile">
          </div>
          <button type="submit" class="btn btn-danger w-100">Başvur</button>
      </form>
  </div>
</div>