@model ApplyModel
@{
    ViewData["Title"] = "Stajyerlik Başvurusu";
    ViewData["BreadcrumbTitle"] = "Stajyerlik Başvurusu";
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["successMessage"]
    </div>
}
@if (TempData["dangerMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["dangerMessage"]
    </div>
}
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<section class="tools">
    <div class="container">
        <div class="t-row">
            <div class="d-table-cell">
                <a class="btn btn-primary" style="margin-top:25px; margin-bottom:25px; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" href="/" title="Geri">
                    <span style="line-height: 12px; font-size: 20px;">&#x2190;</span> Geri Git
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="title text-center">
        <h1>Başvuru Formu</h1>
        <p>
            Hem gelişmek hem de öğrenmek mi istiyorsun? Projeler geliştirip kendini iş hayatına alıştırmak mı istiyorsun?
            <br />Önünde mükemmel duran bir fırsat var.
        </p>
    </div>
    <div class="job-apply-form">
        <form action="/Job/Intern" method="post" enctype="multipart/form-data">
            <div class="form-group" style="margin-bottom:10px;">
                <label name="FullName"><b>Adınız ve Soydınız: *</b></label>
                <input name="FullName" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Phone"><b>Telefon Numaranız: *</b></label>
                <input name="Phone" class="form-control" required placeholder="05XXXXXXXXX">
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Email"><b>E-Mail Adresiniz: *</b></label>
                <input type="email" name="Email" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label><b>Cinsiyetiniz *</b></label>
                <select name="Gender" class="form-control" required>
                    <option value="">Lütfen Bir Seçim Yapınız!</option>
                    <option value="Belirtilmemiş">Belirtmek İstemiyorum</option>
                    <option value="Erkek">Erkek</option>
                    <option value="Kadın">Kadın</option>
                </select>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="University"><b>Okuduğunuz Okul: *</b></label>
                <input name="University" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Faculty"><b>Okuduğunuz Bölüm ve Sınıf: *</b></label>
                <input name="Faculty" class="form-control" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label for="InternStartDate"><b>Staj Başlangıç Tarihi: *</b></label>
                <input class="form-control" id="InternStartDate" name="InternStartDate" autocomplete="off" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label for="InternEndDate"><b>Staj Bitiş Tarihi: *</b></label>
                <input class="form-control" id="InternEndDate" name="InternEndDate" autocomplete="off" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label name="Resume"><b>Öz Yazı: *</b></label>
                <textarea name="Resume" class="form-control" required></textarea>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <label for="FormFile"><b>Özgeçmiş / CV Yükle (Sadece PDF uzantılı dosyalar kabul edilmektedir) *</b></label>
                <input type="file" class="form-control-file" name="FormFile" accept="application/pdf" required>
            </div>
            <div class="form-group" style="margin-bottom:10px;">
                <img style="display: inline-block; width: 180px; height: 50px; " id="imgCaptcha" src="/argeya-captcha?@DateTime.Now.ToString("ddMMyyyyHHmmsss")" />
                <a class="btn btn-sm small gray" style="display: inline-block; padding: 8px; cursor: pointer; vertical-align: top; background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"]; color: #fff !important; text-decoration: none;" onclick="var today = new Date(); document.getElementById('imgCaptcha').src = '/argeya-captcha?r=' + today; return false;">
                    <i class="fa fa-refresh" aria-hidden="true" style="font-size: 30px;"></i>
                </a>
                <input type="text" name="captcha" id="captcha" required/>
            </div>
            <button type="submit" class="btn btn-primary w-100" style="background-color:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];">Başvur</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {

            $(function () {
                $("#InternStartDate").datepicker({
                    minDate: 0,
                    dateFormat: 'dd.mm.yy',
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"]
                });
                $("#InternEndDate").datepicker({
                    minDate: 0,
                    dateFormat: 'dd.mm.yy',
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"]
                });

                $('#InternStartDate').change(function () {
                    startDate = $(this).datepicker('getDate');
                    $("#internEndDate").datepicker("option", "minDate", startDate);
                });
                $('#InternEndDate').change(function () {
                    endDate = $(this).datepicker('getDate');
                    $("#internStartDate").datepicker("option", "maxDate", endDate);
                });
            });
        })
    </script>

}