@model JobsModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["CmsTitle"] = "İlan Düzenle";
}
@section Styles {
    <style>
        /*Textbox*/
        .ck-editor__editable {
            min-height: 500px;
            max-height: 500px;
        }
    </style>
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form action="/admin/jobs/edit" method="post">
                <input name="id" id="id" value="@Context.Request.RouteValues["id"]" hidden />
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="jobTitle">İlan Başlığı</label>
                    <input class="form-control" asp-for="jobTitle" type="text" placeholder="İlan Başlığı">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="jobKeywords">İlan Anahtar Kelimeleri</label>
                    <input class="form-control" asp-for="jobKeywords" type="text" placeholder="İlan Anahtar Kelime">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="jobDescription">İlan Açıklaması</label>
                    <input class="form-control" asp-for="jobDescription" type="text" placeholder="İlan Açıklama">
                </div>
                <label for="jobContent">İlan Açıklaması</label>
                <textarea asp-for="jobContent" style="min-height:500px;"></textarea>
                <br />
                <button type="submit" class="btn btn-danger w-100">İlanı Güncelle</button>
            </form>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/panel/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#jobContent'))
            .catch(error => {
                console.error(error);
            });
    </script>
}