@model JobsModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form action="/admin/jobs/edit" method="post">
                <input name="id" id="id" value="@Context.Request.RouteValues["id"]" hidden />
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="jobTitle">İlan Başlığı</label>
                    <input class="form-control" asp-for="jobTitle" type="text" placeholder="İlan Başlığı">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="jobKeywords">İlan Anahtar Kelimeleri</label>
                    <input class="form-control" asp-for="jobKeywords" type="text" placeholder="İlan Anahtar Kelime">
                </div>
                <div class="form-group" style="margin-bottom:10px;">
                    <label for="jobDescription">İlan Açıklaması</label>
                    <input class="form-control" asp-for="jobDescription" type="text" placeholder="İlan Açıklama">
                </div>
                <label for="jobContent">İlan Açıklaması</label>
                <textarea asp-for="jobContent"></textarea>
                <br />
                <button type="submit" class="btn btn-danger w-100">İlanı Güncelle</button>
            </form>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/panel/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#jobContent').summernote({
                height: 300,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
            });
        });
    </script>
}