@model List<JobsViewModel>


<div class="container shadow-sm p-3 mb-5 bg-body rounded">
    <div class="container">
        <h2 style="font-size:40px; margin-bottom:25px; margin-top:25px;" class="text-center">Kendine Uygun Pozisyona Başvur</h2>
        <p style="text-align:center; margin-top:20px; margin-bottom:20px;">
            Gelişimin ve eğlencenin tadını aynı anda çıkarmak mı? Neden olmasın? İstediğin Pozisyona mı başvurmak istiyorsun?
            Kendi başarı hikayeni, aynı dili konuştuğun bir ekiple birlikte yazmak ister misin?
            <strong>Hemen CV'ni ve başvuru formunu gönder.</strong>
        </p>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <a href="/job" style="vertical-align: middle; background:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" class="btn btn-lg btn-primary active w-50" title="Hemen Başvur">Hemen Başvur <i class="fa-solid fa-link"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container shadow-sm p-3 mb-5 bg-body rounded">
    <div class="container">
        <h1 class="text-center" style="font-size:40px; margin-bottom:25px; margin-top:25px;">Açık Pozisyonlar</h1>
        <ul class="responsive-table">
            <table id="anaEkran" class="table table-hover text-end" style="border-collapse:separate; border-spacing: 0 15px; ">
                <tbody>
                    @{ if (Model != null)
                        {
                            foreach (JobsViewModel JobsVm in Model)
                            {
            @if (JobsVm.IsActive == "true")
            {
<tr>
    <td class="container border" style="font-size:large; vertical-align:middle; font-weight:bold; text-align:left; padding:30px 50px 30px 50px"><a class="text-body" title="@JobsVm.JobTitle" href="/jobdetail/index/@JobsVm.JobSlug">@JobsVm.JobTitle</a></td>
    <td class="container border" style="vertical-align:middle;"><a href="/jobdetail/index/@JobsVm.JobSlug" class="btn btn-primary" style="float:right; align-items:center; width:125px; background:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" type="button" data-bs-target="#demo" title="@JobsVm.JobTitle">İlanı İncele <span style="line-height:12px; font-size:17px;">&#x2192;</span></a></td>
</tr> } }
                                } }
                </tbody>
            </table>
        </ul>
    </div>
</div>

<div class="container shadow-sm p-3 mb-5 bg-body rounded">
    <div class="container">
        <h3 style="font-size:40px; margin-bottom:25px; margin-top:25px;" class="text-center">Stajyerlik Başvurusu</h3>
        <p style="text-align:center; margin-top:20px; margin-bottom:20px;">
            Hem gelişmek hem de öğrenmek mi istiyorsun? Projeler geliştirip kendini iş hayatına alıştırmak mı istiyorsun?
            Önünde mükemmel duran bir fırsat var.
            <strong class="text-center"> Hemen staj başvurunu yap.</strong>
            Aynı dili konuştuğun bu ekibin bir parçası ol.
        </p>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <a href="/job/intern" style="vertical-align: middle; background:@ViewData["SiteColor"]; border-color:@ViewData["SiteColor"];" class="btn btn-lg btn-primary w-50" title="Hemen Başvur">Staj Başvurunu Yap <i class="fa-solid fa-link"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


